In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('50_Startups.csv')

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
df.shape

(50, 5)

In [5]:
X = df.iloc[:, :-1]   # independent data
Y = df.iloc[:, -1]    # dependent data

In [6]:
df['State'].value_counts() ## count the cities

New York      17
California    17
Florida       16
Name: State, dtype: int64

In [7]:
df.isnull().sum() ## checking null values

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [8]:
states = pd.get_dummies(X['State'], drop_first = True) # Converting State column into one-hot-encoding

In [9]:
X = X.drop('State', axis = 1) # droping state column

In [10]:
X = pd.concat([X, states], axis = 1)

In [11]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 123)

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
regressor = LinearRegression()

In [16]:
regressor.fit(X_train, Y_train)

LinearRegression()

In [17]:
Y_pred = regressor.predict(X_test)

In [18]:
print(Y_pred[:5])
print(Y_test[:])

[133749.91948852 126771.56418161  97712.50105     58138.82512327
 128196.53673201]
10    146121.95
13    134307.35
30     99937.59
46     49490.75
18    124266.90
0     192261.83
40     78239.91
12    141585.52
29    101004.64
8     152211.77
Name: Profit, dtype: float64

In [19]:
from sklearn.metrics import r2_score

In [20]:
score = r2_score(Y_test, Y_pred)

In [21]:
print(score)

0.9667998486975283